* {
  box-sizing: border-box;
}
body {
  background-image: url("./img/newyear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
/* dark overlay */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}
h1 {
  font-size: 5rem;
}
.countdown {
  display: inline-block;
  transform: scale(2);
}
.time {
    display: inline-block;
    margin-left:2rem;
}
